.creatorName {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  width: 100%;
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 20px #000, 0 0 30px #000;
  font-size: 16px;

  &__icon {
    animation: pound 0.5s infinite alternate;
  }
}

@keyframes pound {
  to {
    transform: scale(1.2);
  }
}
