.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  font-family: 'Permanent Marker', 'Ubuntu', sans-serif;
  font-size: 60px;
  cursor: pointer;
  outline: none;
}
