/* ---------------------------------------------------------------
 * 01. Variables
 * 02. Basic Styles
 * 03. Structure
 * 04. Content
 * ------------------------------------------------------------ */

/* ---------------------------------------------------------------
 * 01. Variables and other
 * ------------------------------------------------------------ */
:root {
  --accent: #0d61ff;
  --text-color: white;
  --title-shadow: 0 0 5px #000, 0 0 10px #000;
  --box-shadow: 0 0 11px rgba(0, 0, 0, 0.8);
  --box-background: rgba(0, 0, 0, 0.4);
  --font-main: 'Permanent Marker', 'Ubuntu', sans-serif;
}

::-webkit-scrollbar {
  background-color: #000;
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  background-color: #babac052;
  border-radius: 16px;
  border: 1px solid #081037;
}

/* ---------------------------------------------------------------
 * 02. Basic Styles
 * ------------------------------------------------------------ */
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

body {
  position: relative;
  min-width: 320px;
  background-color: #222222;
  background: url(../public/img/background-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: var(--text-color);
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

/* ---------------------------------------------------------------
 * 03. Structure
 * ------------------------------------------------------------ */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 20px;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
  padding: 40px 20px;
}

.background {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: var(--box-background);
  box-shadow: var(--box-shadow);
}

/* ---------------------------------------------------------------
 * 04. Content
 * ------------------------------------------------------------ */
.title {
  color: var(--accent);
  font-size: calc(8px + 5vmin);
  text-shadow: var(--title-shadow);
  transition: 1s;

  &:hover {
    text-decoration: line-through;
    transform: scale(1.1);
  }

  &--center {
    text-align: center;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 240px;
  min-width: 120px;
  min-height: 40px;
  padding: 10px 20px;
  background: none;
  border: 1px solid var(--accent);
  color: var(--accent);
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 5px var(--accent), 0 0 25px var(--accent),
      0 0 50px var(--accent);
  }

  &--center {
    margin: 0 auto;
  }
}
